<div [ngClass]="field.colSize">
    <label
        class="text-sm font-normal"
        [for]="field.formControlName"
    >
        {{ field.label }}
    </label>
    <div class="grid justify-items-center items-center" [ngClass]="field.textBefore && field.textAfter ? 'grid-cols-3' : 'grid-cols-1'">
        <p>{{ field.textBefore }}</p>
        <input
            class="w-full mt-2 px-5 py-2 bg-white border border-slate-100 outline-none rounded-lg"
            [type]="field.type"
            [placeholder]="field.placeholder"
            [formControlName]="field.formControlName"
        />
        <p>{{ field.textAfter }}</p>
    </div>
</div>
