<div class="flex flex-col" [ngClass]="field.colSize">
    <label
        [for]="field.formControlName"
    >
        {{ field.label }}
    </label>
    <select
        class="mt-2 px-5 py-3 bg-white border border-slate-100 outline-none rounded-lg"
        [ngClass]="field.colSize"
        [formControlName]="field.formControlName"
    >
        @for (option of field.options; track option) {
                <option [value]="option.value">{{ option.label }}</option>
            }
    </select>
</div>