<div class="flex flex-col" [ngClass]="field.colSize">
    <!-- <label
        class="text-xs"
        [for]="field.formControlName"
    >
        {{ field.label }}
    </label>
    <select
        class="h-8 mt-2 px-5 py-1 bg-white border border-slate-100 outline-none rounded-lg"
        [ngClass]="field.colSize"
        [formControlName]="field.formControlName"
    >
        @for (option of field.options; track option) {
            <option [value]="option.value">{{ option.label }}</option>
        }
    </select> -->
    <!-- <mat-form-field matFormFieldControl>
        <mat-label>{{ field.label }}</mat-label>
        <mat-select
            matNativeControl
            [formControlName]="field.formControlName">
                @for (option of field.options; track option) {
                    <mat-option [value]="option.value">{{ option.label }}</mat-option>
                }
        </mat-select>
    </mat-form-field> -->
    <nz-select nzShowSearch [nzPlaceHolder]="field.options[0].label">
        @for (option of field.options; track option) {
            <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        }
    </nz-select>
</div>