<form class="bg-white rounded-lg">
    <div class="px-10 py-12 flex flex-col">
        <h1 class="text-lg font-bold">Contact form</h1>
        <div class="mt-8 grid grid-cols-12 gap-x-8" [formGroup]="formGroup">
            @for (field of formFields; track field) {
                @if (field.type === "input") {
                    <app-form-input [field]="field"/>
                }
                @if (field.type === "dropdown") {
                    <app-dropdown [field]="field" />
                }
                @if (field.type === "textarea") {
                    <app-textarea [field]="field"/>
                }
            }
        </div>
        <ng-content></ng-content>
    </div>
</form>