<form class="bg-white rounded-lg">
    <div class="px-10 py-12 flex flex-col">
        <h1 class="text-lg font-bold">Contact form</h1>
        <div class="mt-8 flex flex-col">
            @for (field of formFields; track field) {
                <label
                    class="text-xs font-thin"
                    for="{{ field.formControlName }}"
                >
                    {{ field.label }}
                </label>
                <input
                    class="w-72 mt-2 mb-6 px-5 py-3 bg-white border border-slate-100 outline-none rounded-lg"
                    type="text"
                    name="{{ field.formControlName }}"
                    value="{{ field.value }}"
                    placeholder="{{ field.placeholder }}"
                />
            }
        </div>
        <ng-content></ng-content>
    </div>
</form>