<table class="table table-fixed w-full shadow rounded-lg overflow-hidden">
    <thead class="bg-gray-100 border-b border-gray-200 text-black">
        <tr>
        @for (item of tableKeys; track item) {
            <th class="w-3/12 px-8 py-4 text-left capitalize">{{ item.title }}</th>
        }
            <th class="w-1/12 px-8 py-4 text-left capitalize">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (row of tableData; track row) {
            <tr>
                @for (item of tableKeys; track item) {
                    <td class="px-8 py-4 border-b text-gray-500 border-gray-200 text-left">{{ row[item.key] }}</td>
                }
                <td class="px-8 py-4 flex gap-x-2 border-b text-gray-800 border-gray-200 text-left">
                    <div>
                        <button class="px-2 py-2 flex border border-slate-300 rounded-lg" (click)="editOrDelete('edit', row.id)"><ng-icon name="bootstrapPen"></ng-icon></button>
                    </div>
                    <div>
                        <button class="px-2 py-2 flex border border-slate-300 rounded-lg" (click)="editOrDelete('delete', row.id)"><ng-icon name="bootstrapXLg"></ng-icon></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>