<section class="w-full m-10">
    <div class="mb-8 flex justify-between items-center">
        <p class="text-xl">Project - Create</p>
        <button class="px-4 py-2 flex items-center gap-x-2 bg-blue-950 text-white text-xs rounded-lg hover:bg-blue-900" (click)="onSave()">
            <ng-icon name="bootstrapFloppy" size="0.8rem"></ng-icon>
            Save
        </button>
    </div>
    <app-form-builder [formFields]="editingProjectFilterFields" [formGroup]="createProjectFilters"/>
</section>