<form>
    <div class="flex flex-col gap-y-8">
        <div class="grid grid-cols-12 gap-x-8 gap-y-6" [formGroup]="formGroup">
            @for (field of formFields; track field) {
                @if (field.ctrlType === "input") {
                    <app-form-input [field]="field"/>
                }
                @if (field.ctrlType === "dropdown") {
                    <app-dropdown [field]="field" />
                }
                @if (field.ctrlType === "textarea") {
                    <app-textarea [field]="field"/>
                }
            }
        </div>
    </div>
</form>