<section class="sidebar" [ngClass]="!isOpen ? 'open' : null">
    <div class="sidebar__container">
        <div class="sidebar__top">
            <div class="sidebar__top-close">
                <div class="logo__container">
                    <img class="logo" [src]="logo" alt="logo" (click)="toggleSidebar()">
                    <p class="logo-name" [ngClass]="!isOpen ? 'open' : null">Docket</p>
                </div>
                <div class="sidebar__top-icon" [ngClass]="!isOpen ? 'open' : null">
                    <ng-icon class="icon-close" name="bootstrapXLg" (click)="toggleSidebar()"></ng-icon>
                    <span class="tooltip">
                        <span class="tooltip-arrow"></span>
                        <span class="tooltip-text">Hide navigation</span>
                    </span>
                </div>
            </div>
            <div class="sidebar__item sidebar__search">
                @if (isOpen) {
                    <ng-icon class="icon-search" name="bootstrapSearch" [ngClass]="!isOpen ? 'open' : null" (click)="toggleSidebar()"></ng-icon>
                    <input class="search-input" type="text" placeholder="Search" [ngClass]="!isOpen ? 'open' : null" [value]="inputValue" (input)="onSearch($event.target.value);">
                }
                @else {
                    <ul>
                        <li class="item-list-item">
                            <a (click)="toggleSidebar()">
                                <ng-icon class="icon" name="bootstrapSearch"></ng-icon>
                            </a>
                            @if (!isOpen) {
                                <span class="tooltip">
                                    <span class="tooltip-arrow"></span>
                                    <span class="tooltip-text">Search</span>
                                </span>
                            }
                        </li>
                    </ul>
                }
            </div>
            <div class="sidebar__line"></div>
        </div>
        <div class="sidebar__item sidebar__center" [ngStyle]="isOpen ? {'overflow-y': 'auto'} : null">
            <ul>
                @for (item of menuItemsCenter; track item) {
                    @if (item.options) {
                        <app-sidebar-dropdown [item]="item" [isOpen]="isOpen" (isOpenSidebar)="toggleSidebar($event)"/>
                    }
                    @else {
                        <app-sidebar-item [item]="item" [isOpen]="isOpen" (isOpenSidebar)="toggleSidebar($event)"/>
                    }
                }
            </ul>
        </div>
        <div>
        <div>
            <div class="sidebar__line"></div>
            <div class="sidebar__item sidebar__bottom">
                <ul>
                    @for (item of menuItemsBottom; track item) {
                        <app-sidebar-item [item]="item" [isOpen]="isOpen" (isOpenSidebar)="toggleSidebar($event)"/>
                    }
                </ul>
            </div>
                <div class="sidebar__profile">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</section>