<section style="display: flex;">
    <app-sidebar (handleSearch)="logSearch($event)" logo="../../assets/shield.png" [menuItemsCenter]="menuItemsCenterData" [menuItemsBottom]="menuItemsBottomData" (isOpenChanged)="isOpenSidebarApp($event)">
        <div class="sidebar__profile-details">
            <img class="avatar" src="../../assets/avatar.svg" alt="avatar">
            <p class="item-name" [ngClass]="!isOpen ? 'open' : null">Jane Cooper</p>
        </div>
        <ng-icon class="icon-dots" name="bootstrapThreeDots" [ngClass]="!isOpen ? 'open' : null"></ng-icon>
    </app-sidebar>
    <section style="width: 100%; height: 100vh; display: flex; flex-direction: column;">
        <app-header />
        <section class="h-full flex justify-start items-center">
            <router-outlet></router-outlet>
        </section>
    </section>
</section>