<table class="table table-auto w-full shadow rounded-lg overflow-hidden">
    <thead class="bg-gray-100 border-b border-gray-200 text-black">
        <tr>
        @for (key of tableKeys; track key) {
            <th class="px-8 py-4 text-left capitalize">{{ key }}</th>
        }
        <th></th>
        </tr>
    </thead>
    <tbody>
        @for (row of tableData; track row) {
            <tr>
                <td class="px-8 py-4 border-b border-gray-200 bg-white text-left">{{ row.name }}</td>
                <td class="px-8 py-4 border-b text-gray-500 border-gray-200 bg-white text-left">{{ row.title }}</td>
                <td class="px-8 py-4 border-b text-gray-500 border-gray-200 bg-white text-left">{{ row.email }}</td>
                <td class="px-8 py-4 border-b text-gray-500 border-gray-200 bg-white text-left">{{ row.role }}</td>
                <td class="px-8 py-4 border-b text-purple-700 border-gray-200 bg-white text-left">Edit</td>
            </tr>   
        }
    </tbody>
</table>